node_modules/
.next/
out/
build/

# WhatsApp Web Auth & Cache
.wwebjs_auth/
.wwebjs_cache/

# Configurações locais
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
.idea/
.vscode/
